.tel {
    color: red;
    font-size: 20;
    font-weight: 500;
    font-family: "Roboto";
}

.lol {
    
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;


}
.link {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;

}
.gold {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
}
.ol {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
}
.clas{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}
.klac {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;

}
.wel{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}
.lank {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
}
.lenk{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}
.wet {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;

}
.wek{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}
.p{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
}
.g {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 26px;

}
.f{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;

}
.q{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}
.p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}